*{
    margin: 0;
    padding: 0;
    font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

:root {
    --primary-color: #87CEEB;  
    --secondary-color: #2ecc71; 
    --accent-color: #f45d4c; 
    --background-color: #ecf0f1; 
    --text-color: #2c3e50; 
    --text-sub-color: #39526a; 
    
    --el-text-color-regular: var(--text-color);
    --el-color-danger: var(--accent-color);
    
}
