

.common-layout .container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 89vh;
}

.common-layout .container-2 .sub-title{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}

.common-layout .container-2 .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.common-layout .container-2 .cards .el-card {
    width: 300px;
    height: 360px;
    border-radius: 30px;
    margin-top: 30px;
    margin-right: 30px;
}

.common-layout .container-2 .el-card:active{
    background-color: #d5d5d5;
}
.common-layout .container-2 .cards .el-card__body{
    padding: 0;
}
.common-layout .container-2 .cards img{
    
    width: 300px;
    height: 300px;
}

.down{
    background-color: #eaeaea;
    padding: 20px;
}
.down p{
    font-size: 17px;
    color: #0b8a6d;
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
}

.down span{
    font-weight: bold;
    color: var(--text-color);
}

