.profile-con {
    position: relative;
    display: flex;
    height: 100vh;
    padding: 24px 107px 4px;
    flex-direction: column;
}

.profile-con .profile-top {
    display: flex;
    width: 100%;
    height: 160px;
    flex-direction: row;

}

.profile-con .profile-top .el-avatar {
    width: 160px;
    height: 160px;
    margin-right: 20px;
}

.profile-con .profile-top .title {
    display: flex;
    flex-direction: column;
}

.profile-con .profile-top .title span {
    color: black;
    font-size: 2em;
}

.profile-con .profile-top .title span:not(:first-child) {
    font-size: 16px;
    color: #636363;
    margin-top: 10px;
}

.profile-con .profile-top .button {
    position: absolute;
    left: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 115px;
    height: 44px;
    background-color: #dddddd;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.profile-con .profile-top .button:hover {
    background-color: #c2c2c2;
}

.profile-con .profile-top .button:active {
    background-color: #ffffff;
}

.profile-con .profile-down {
    width: 100%;
    height: 100vh;
}

.profile-con .profile-down .infinite-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 90vw;
    margin-top: 50px;
    align-items: start; /* 垂直对齐方式为顶部 */
    justify-items: start; /* 水平对齐方式为左侧 */
    gap: 20px; 
}
@media screen and (max-width: 1060px) {
    .profile-con .profile-down .infinite-list {
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (min-width: 1600px) {
    .profile-con .profile-down .infinite-list {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}

@media screen and (min-width: 1900px) {
    .profile-con .profile-down .infinite-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.infinite-list-li h6{
    font-size: 16px;
    font-weight: 400;
    color: #5e5e5e;
    text-align: center;

}

.infinite-list-li h2{
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}
.infinite-list-li .infinite-list-li-img{
    height: 180px; 
    width: 325px;
    object-fit: cover; 
    border-radius: 30px;
    border: 1px #5e5e5e solid;
    transition: 0.5s;
    cursor: pointer;
}
.infinite-list-li .infinite-list-li-img:hover{
    margin: 10px;
    transform: scale(1.05);
    border-radius: 15px;
}

.infinite-list-li .infinite-list-li-img:active{
    opacity: 0.5;
}